<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} | [%thread] | %-5level | %X{id} | %logger | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Specific Logger Configurations -->
    <logger name="Application" level="INFO"/>
    <logger name="kcrud" level="DEBUG"/>

    <!-- Ktor Logger Names -->
    <logger name="io.ktor.server.auth.Authentication" level="DEBUG"/>
    <logger name="io.ktor.server.plugins.compression.Compression" level="DEBUG"/>
    <logger name="io.ktor.server.plugins.contentnegotiation.ContentNegotiation" level="DEBUG"/>
    <logger name="io.ktor.server.plugins.ratelimit.RateLimit" level="DEBUG"/>
    <logger name="io.ktor.server.plugins.statuspages.StatusPages" level="DEBUG"/>
    <logger name="io.ktor.server.routing.Routing" level="DEBUG"/>
    <logger name="io.ktor.server.sessions.Sessions" level="DEBUG"/>

    <!-- Other Logger Configurations -->
    <logger name="io.netty" level="WARN"/>
    <logger name="io.swagger" level="ERROR"/>
    <logger name="com.github.jknack" level="OFF"/>
    <logger name="org.quartz" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="io.ktor.server.plugins.callid" level="OFF"/>
</configuration>
